<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
            <div class="row">
                <input type="text" [(ngModel)]="userText"/>
                {{userText}}
            </div>
            <div class="table-responsive" *ngIf="showTable">
                {{showImage}}
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <button class="btn btn-success"
                                    (click)="toggleImage()">
                                    Show Image
                                </button>
                            </td>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of products">
                            <td>
                                <img [src]="prod.imageUrl"
                                *ngIf="showImage"/>
                            </td>
                            <td>{{prod.productName | uppercase}}</td>
                            <td>{{prod.productCode | lowercase}}</td>
                            <td>{{prod.releaseDate | date}}</td>
                            <td>{{prod.price | discount | currency:'INR'  }}</td>
                            <td>{{prod.starRating}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
</div>